<!-- The create article view -->
<div class="post-building" data-ng-controller="PostsController">
	<h1>New Post</h1>
	<form data-ng-submit="create()" novalidate>
		<div class="form-group">
			<label for="title">Title</label>
			<div>
				<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<div>
				<textarea class="form-control" data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
		<!-- The error message element -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</div>