<div class="post-building" data-ng-controller="PostsController" data-ng-init="findOne()">
	<h1>Edit Post</h1>
	<form data-ng-submit="update()" novalidate>
		<div class="form-group">
			<label for="title">Title</label>
			<div>
				<input type="text" class="form-control" data-ng-model="post.title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<div>
				<textarea class="form-control" data-ng-model="post.content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	</div>
</div>