<section data-ng-controller="PostsController" data-ng-init="find()">
	<h1>All Posts</h1>
		<!-- The list of post -->
	<div class="list-posts" data-ng-repeat="post in posts">
		<p><a data-ng-href="#!/posts/{{post._id}}">{{post.title}}</a> <small><em>{{post.created | date:'medium'}} | {{post.creator.fullName}}</small></p></em>
		<p data-ng-bind="post.content"></p>
	</div>
	<!-- If there are no posts in the list, suggest the user's create a new post -->
	<div data-ng-hide="!posts || posts.length">
		<p>No posts yet, why don't you <a href="/#!/posts/create">create one</a>?</p>
	</div>
</section>