<section data-ng-controller="PostsController" data-ng-init="find()">
	<h1>Posts</h1>
	<ul>
		<!-- The list of posts -->
		<li data-ng-repeat="post in posts">
			<a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.title"></a>
			<br>
			<small data-ng-bind="post.created | date:'medium'"></small>
			<small>/</small>
			<small data-ng-bind="post.creator.fullName"></small>
			<p data-ng-bind="post.content"></p>
		</li>
	</ul>
	<!-- If there are no posts in the list, suggest the user's create a new post -->
	<div data-ng-hide="!posts || posts.length">
		No posts yet, why don't you <a href="/#!/posts/create">create one</a>?
	</div>
</section>