<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" ng-controller="IndexController">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/#!/">Home</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li data-ng-show="!authentication.user"><a href="/signup">Signup</a></li>
					<li data-ng-show="!authentication.user"><a href="/signin">Signin</a></li>
					<li data-ng-show="authentication.user"><a href="/signout">Signout</a></li>
					<li data-ng-show="authentication.user"><a href="/#!/posts/create">Create Post</a>
					<li><a href="/#!/posts">See Posts</a></li>
				</ul>
			</div>
		</div>
    </nav>
    <div class="container">
    	<div class="main">
    	<script type="text/javascript">
			window.user = <%- user || 'null'%>;
		</script>
    	</div>
		<div>
			<section ng-view></section>
		</div>
	</div>
	<!-- Load local libraries -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

	<!-- Load the index module -->
	<script type="text/javascript" src="/index/index.client.module.js"></script>
	<script type="text/javascript" src="/index/controller/index.client.controller.js"></script>
	<script type="text/javascript" src="/index/config/index.client.routes.js"></script>

	<!-- Load the posts module -->
	<script type="text/javascript" src="/posts/posts.client.module.js"></script>
	<script type="text/javascript" src="/posts/controllers/posts.client.controller.js"></script>
	<script type="text/javascript" src="/posts/services/posts.client.service.js"></script>
	<script type="text/javascript" src="/posts/config/posts.client.routes.js"></script>

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>